body{
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}

#tabel-ml{
    border-collapse : collapse;
    background-image: url('Scan Foto.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    border-width: 2px;
    border-color: white;
    border-style: solid;

    margin: auto;
}

#tabel-ml h3{
    font-size: large;
    padding-top: 10px;
}

#tabel-ml td{
    padding: 20px;
    color: white;
}

.link{
    color: pink;
    text-decoration: none ;
}

