body{
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}

#tabel-ml{
    border-collapse : collapse;
    background-image: url('Scan Foto.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    border-width: 2px;
    border-color: white;
}

#tabel-ml h3{
    font-size: medium;
}

.link{
    color: white;
    text-decoration: none ;
}

